<!-- <button type="button" href="#task_eDM">建立新任務</button>
<button type="button" ng-click="">觀看結果</button> -->
<a href="#task_eDM">建立新任務(eDM)</a><br>
<a href="#task_SMS">建立新任務(SMS)</a><br>
<a href="#result">觀看結果</a>

<!-- <section ng-controller="panelCtrl">
	<ul class="nav nav-pills">
		<li ng-class="{ active: panelCtrl.isSelected(1) }">
			<a href ng-click="panelCtrl.selectTab(1)">建立新任務</a>
		</li>
		<li ng-class="{ active: panelCtrl.isSelected(2) }">
			<a href ng-click="panelCtrl.selectTab(2)">觀看結果</a>
		</li>
	</ul>
	


<div>
	<form>
		<h3>選擇任務型式
		<select>
        	<option>EDM</option>
        	<option>SMS</option>
    	</select>
		</h3>
		選擇檔案(.zip): <input type="file" accept=".zip"><br>
	</form>
</div>

	<div class="panel" ng-show="panelCtrl.isSelected(1)"> 
		<h4>Description </h4>
	</div>

</section> -->