<div>
	<form ng-controller="registerCtrl">
		Email: <input type="email" id="email" ng-model="email" placeholder="etu@etusolution.com"><br>
		Username: <input type="text" id="username" ng-model="username"><br>
		Password: <input type="password" id="password" ng-model="password"><br>
		<button type="button" ng-click="submit()">Sign up</button>
	</form>
	<form ng-controller="accountCtrl" ng-repeat="account in accounts">
		<h5>
			Email: {{account.email}}
			Username: {{account.username}}
			Password: {{account.password}}
		</h5>
	</form>
</div>